*{
    padding: 0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: linear-gradient(to right, #aa7366,#feb47b);
}

.container{
    width: 500px;
    margin: 100px auto;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

h1{
    text-align: center;
    color: #333;
}

.form-group{
    margin:20px 0;
    justify-content: center;
    align-items: center;
    text-align: center;
}

label{
    /* display:flex; */
    margin-bottom: 5px;
    color: #333;
    font-weight: 600;
}

input[type="date"]{
    width:50%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button{
    padding: 5px 10px;
    font-size: 16px;
    background-color: #aa7e66;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

.result-container{
    margin-top: 20px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.2);
}


.result{
    margin-top: 10px;
    background-color: #ffffffe7;
    border-radius: 5px;
    padding: 10px;
}

.result h3{
    color: #333;
    font-size: 16px;
}

.result p{
    font-size: 15px;
}

.backhome{
    width:max-content;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin: 20px auto;
}
a{
    color: #000;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.backhome:hover{
    background-color: #f4f1f1;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
