*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: linear-gradient(to left, rgb(254, 146, 164),rgb(205, 9, 205));
}

label{
    text-decoration:underline;
    font-weight: 600;
}

.card{
    max-width:900px;
    background-color: #ffffff;
    margin: 10px auto;
    box-shadow: 0 2px 4px rgb(190, 190, 190);
    padding: 20px;
    border-radius: 10px;
}

/* .row{
    margin-top: 15px;
} */

.row div{
    padding: 10px;
}

.row input{
    width: 100px;
    padding: 5px;
    border-radius: 5px;
    border: 0.7px solid rgb(254, 146, 164);
    outline: none;
    font-size: 16px;
}

.row button{
    background-color: rgb(254, 146, 164);
    padding: 5px 10px;
    border-radius: 5px;
    border:none;
    outline: none;
    font-size: 16px;
    cursor: pointer;
    color:white;
}

.row p{
    margin-top:10px;
    font-size: 16px;
    text-align: justify;
}

.bck{
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}