*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

.container{
    height:100vh;
    width: 100%;
    background-color: #29214b;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items:center;
}
.input-box{
    width: 15%;
    height:40px;
    outline: none;
    border-radius: 5px;
    background: transparent;
    display: flex;
    align-items: center;
    margin-inline: auto;
}

input:focus-visible{
    outline: none;
}
.input-box-inside{
    display: flex;
    border: 1px solid #fff;
    padding: 10px;
    border-radius: 8px;
}

#password{
    background-color: inherit;
    border-color: transparent;
    color: #fff;
}

#password::placeholder{
    border: transparent;
    color: #fff;
}

button{
    background:transparent;
    border:none;
    outline:none;
    border-radius: 50%;
    cursor:pointer;
}

button i{
    width: 35px;
    color: #fff;
}

#result{
    position:relative;
    color: #fff;
    font-size:16px;
    display: none;
}

.backhome{
    width:15%;
    height:40px;
    outline: none;
    border-radius: 5px;
    background: transparent;
    display: flex;
    align-items: center;
    padding:5px;
    margin: 10px auto;
    justify-content: center;
    
}

a{
    display: block;
    color: #fff;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.backhome:hover{
    background-color: #584d89a5;;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
