body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items:center;
    background-color: #f2f2f2;
    height: 100vh;
}

.container{
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 2px rgba(198,193,193,0.1);
    max-width: 400px;
    width: 100%;
    
}

.container:hover{
    box-shadow: 3px 3px 6px rgba(0,0,0,0.1);
}

h1{
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

.form-group{
    margin-bottom: 10px;
}

.form-group label{
    display: block;
    font-weight: bold;
    margin-bottom:5px;
}

.form-group input{
    width: 92%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group select{
    width: 97%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.result{
    font-size: 18px;
    text-align: center;
    margin-top:15px;
}

.calculateBtn{
    padding: 10px 20px;
    background-color: #2979ff;
    color: #ffffff;
    border-radius: 5px;
    border:none;
    cursor: pointer;
}

.calculateBtn:hover{
    background: #448AFF;
}

.backhome{
    width:max-content;
    background-color:#82a5fe;
    padding: 10px;
    border-radius: 10px;
    margin: 10px auto;
    
}
a{
    color: #000;
    text-decoration: none;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.backhome:hover{
    background-color: #a0c1fa;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}
